* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    /* margin-bottom: 20px; */
    background: violet;
    padding: 20px;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: turquoise;
}